.header {
	width:calc(100%-20px);
	height: 70px;
	background-color: #81c784;
	text-align: center;
	padding: 1px 10px;
}

.main-block{
	width:100%;
	text-align: left;
}

#extrasensory-count{
	width: 50px;
}

.main-table{
	width: 300px;
	margin: 0 0 10px 0;
}

.extrasensory-stats-block{
	margin-bottom: 10px;
	width: 100%;
	overflow-x: auto;
	display: inline-grid;
}

.extrasensory-predicts-all{
	width: auto;
	display: inline-flex;
	height: 35px;
}
.user-numbers-all{
	width: auto;
	display: inline-flex;
	height: 35px;
}

.header-cell{
	width: 118px;
	border: 1px solid black;
	float:left;
	height: 30px;
	text-align: center;
	padding-top:3px;
}

.cell{
	width: 28px;
	border: 1px solid black;
	float:left;
	height: 30px;
	text-align: center;
	padding-top:3px;
}

.footer{
	width:100%;
	height:50px;
	background-color: #81c784;
}

#printed-numbers{
	width:100%;
}